#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* SEARCHBAR */

.searchbar-wrap {
  display: inline-flex;
}

.searchbar-wrap input {
  height: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.searchbar-wrap img {
  height: 20px;
  width: auto;
  filter: invert(1);
}

.searchbar-wrap button {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}